html {
    height: 100px;
}

.ruler {
    position: absolute;
    height: 70%;
    margin: auto 20px;
    width: 14px;
   }
   .ruler .cm,
   .ruler .mm {
    position: relative;
    border-top: 1px solid #555;
    width: 14px;
    height: 5%;
   }
   /* Rule`s centimeters */

   .ruler .cm:after {
    position: relative;
    left: 15px;
    font: 11px/1 sans-serif;
   }
   .ruler .cm:nth-of-type(1) {
    top: 0%;
   }
   .ruler .cm:nth-of-type(1):after {
    content: "1";
   }
   .ruler .cm:nth-of-type(2) {
    top: 2%;
   }
   .ruler .cm:nth-of-type(2):after {
    content: "2";
   }
   .ruler .cm:nth-of-type(3) {
    top: 4%;
   }
   .ruler .cm:nth-of-type(3):after {
    content: "3";
   }
   .ruler .cm:nth-of-type(4) {
    top: 6%;
   }
   .ruler .cm:nth-of-type(4):after {
    content: "4";
   }
   .ruler .cm:nth-of-type(5) {
    top: 8%;
   }
   .ruler .cm:nth-of-type(5):after {
    content: "5";
   }
   .ruler .cm:nth-of-type(6) {
    top: 10%;
   }
   .ruler .cm:nth-of-type(6):after {
    content: "6";
   }
   .ruler .cm:nth-of-type(7) {
    top: 12%;
   }
   .ruler .cm:nth-of-type(7):after {
    content: "7";
   }
   .ruler .cm:nth-of-type(8) {
    top: 14%;
   }
   .ruler .cm:nth-of-type(8):after {
    content: "8";
   }
   .ruler .cm:nth-of-type(9) {
    top: 16%;
   }
   .ruler .cm:nth-of-type(9):after {
    content: "9";
   }
   .ruler .cm:nth-of-type(10) {
    top: 18%;
   }
   .ruler .cm:nth-of-type(10):after {
    content: "10";
   }
   .ruler .cm:nth-of-type(11) {
    top: 20%;
   }
   .ruler .cm:nth-of-type(11):after {
    content: "11";
   }
   .ruler .cm:nth-of-type(12) {
    top: 22%;
   }
   .ruler .cm:nth-of-type(12):after {
    content: "12";
   }
   .ruler .cm:nth-of-type(13) {
    top: 24%;
   }
   .ruler .cm:nth-of-type(13):after {
    content: "13";
   }
   .ruler .cm:nth-of-type(14) {
    top: 26%;
   }
   .ruler .cm:nth-of-type(14):after {
    content: "14";
   }
   .ruler .cm:nth-of-type(15) {
    top: 28%;
   }
   .ruler .cm:nth-of-type(15):after {
    content: "15";
   }
   .ruler .cm:nth-of-type(16) {
    top: 30%;
   }
   .ruler .cm:nth-of-type(16):after {
    content: "16";
   }
   .ruler .cm:nth-of-type(17) {
    top: 32%;
   }
   .ruler .cm:nth-of-type(17):after {
    content: "17";
   }

/* Rule`s milimeters */

    .ruler .mm {
        width: 5px;
    }
   .ruler .mm:nth-of-type(1) {
    top: 10%;
   }
   .ruler .mm:nth-of-type(2) {
    top: 20%;
   }
   .ruler .mm:nth-of-type(3) {
    top: 30%;
   }
   .ruler .mm:nth-of-type(4) {
    top: 40%;
   }
   .ruler .mm:nth-of-type(5) {
    top: 50%;
   }
   .ruler .mm:nth-of-type(6) {
    top: 60%;
   }
   .ruler .mm:nth-of-type(7) {
    top: 70%;
   }
   .ruler .mm:nth-of-type(8) {
    top: 80%;
   }
   .ruler .mm:nth-of-type(9) {
    top: 90%;
   }
   


@media only screen and (max-width: 1235px) {
    .filter1 {
        height: 250px !important;
        width: 180px !important;
    }

    .filter2 {
        height: 250px !important;
        width: 220px !important;
    }

    .filter3 {
        height: 250px !important;
        width: 200px !important;
    }
}

@media only screen and (max-width: 850px) {
    .filter1 {
        height: 150px !important;
        width: 250px !important;
        margin: 20px;
    }

    .filter2 {
        height: 150px !important;
        width: 250px !important;
        margin: 20px;
    }

    .filter3 {
        height: 150px !important;
        width: 560px !important;
        margin: 20px;
    }
}

@media only screen and (max-width: 805px) {
    .filter1 {
        height: 150px !important;
        width: 200px !important;
    }

    .filter2 {
        top: 30%;
        height: 150px !important;
        width: 200px !important;
    }

    .filter3 {
        height: 150px !important;
        width: 200px !important;
    }
}

@media only screen and (max-width: 710px) {
    .filter1 {
        height: 150px !important;
        width: 250px !important;
        margin: 20px;
    }

    .filter2 {
        top: 0%;
        height: 150px !important;
        width: 250px !important;
        margin: 20px;
    }

    .filter3 {
        height: 150px !important;
        width: 250px !important;
        margin: 20px;
    }

    #ruler {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 430px) {
    .filter1 {
        height: 50px !important;
        width: 160px !important;
        margin: 0px;
    }

    .filter2 {
        height: 50px !important;
        width: 160px !important;
        margin: 0px;
    }

    .filter3 {
        height: 50px !important;
        width: 160px !important;
        margin: 0px;
    }

}