<div class="d-flex justify-content-center text-nowrap" id="responsive">
    <div id="main-card" class="row card text-center d-flex w-75 w-md-100 m-5">
    <!-- Containers with filters in the landing page -->

        <!-- First column of containers -->
        <div class="col-12 card-body d-flex justify-content-between">
            <a href="{% url 'products' %}?category=diaries_copies"><div class="row filter1 d-flex align-items-center justify-content-center card w-25 mx-5" style="height:400px;box-shadow: 0px 0px 20px 10px rgb(9, 88, 88);">
                    Copies/ Diaries 
            </a><i class="fa-solid fa-book mt-3 "></i></div>
            
            <a href="{% url 'products' %}?category=pencil,pencils"><div class="row filter1 d-flex align-items-center justify-content-center card w-50 mx-5" style="height:130px;box-shadow: 0px 0px 20px 10px rgb(236, 197, 139);">
                    Pencils<i class="fa-solid fa-pencil mx-3"></i>
            </a></div>

            <a href="{% url 'products' %}?category=pencil,stationary"><div class="row filter1 d-flex align-items-center justify-content-center card w-25 mx-5 shadow" style="height:400px;top:10%;">
                    Stationary
            </a><img src="/media/stationary.png" style="height:40px; width:60px;"></div>
        </div>

        <!-- Second column of containers -->
        <div class="col-12 card-body d-flex justify-content-between">
            <a href="{% url 'products' %}?category=lunch_boxes"><div class="row filter2 d-flex align-items-center justify-content-center card w-25 mx-5" style="height:230px;box-shadow: 0px 0px 20px 10px rgb(236, 197, 139);">
                Lunch Boxes
            </a><i class="fa-solid fa-box fa-lg mt-3"></i></div>
            
            <div class="row filter2 d-flex align-items-center justify-content-center card w-50 mx-5 shadow" style="height:530px;top:-50%;"><a href="{% url 'products' %}?category=bags">
                Bags</a><img src="/media/bag.jpg" style="height:120px; width:140px;">
            </div>
            
            <div class="row filter2 d-flex align-items-center justify-content-center card w-25 mx-5 shadow" style="height:120px;top:15%;"><a  href="{% url 'products' %}?category=pencil_cases" style="width:105px;box-shadow: 0px 0px 10px 5px rgb(236, 197, 139);">
                Pencil Cases</a><img src="/media/pencil-case.png" style="height:40px; width:60px;">
            </div>
        </div>

        <!-- Third column of containers -->
        <div class="col-12 card-body d-flex justify-content-between">
            <a href="{% url 'products' %}?category=pencil,pencil_cases,bags,art_supplies,essentials,diaries_copies,stationary,lunch_boxes" style="text-decoration: none;color:black;">
                <div class="row filter3 d-flex align-items-center justify-content-center card w-25 mx-5 shadow" style="height:180px;top:-165%;">
                    All Products
            </a><i class="fa-solid fa-bag-shopping fa-lg mt-3"></i></div>
            
            <div class="row filter3 d-flex align-items-center justify-content-center card w-50 mx-5 shadow" style="height:160px;top:-145%;"><a href="{% url 'products' %}?category=art_supplies" style="width:95px;box-shadow: 0px 0px 10px 5px rgb(236, 197, 139);">
                    Art Suplies<i class="fa-solid fa-paintbrush mx-3"></i></a>
            </div>
            
            <div class="row filter3 d-flex align-items-center justify-content-center card w-25 mx-5 shadow" style="height:180px;top:-165%;"><a href="{% url 'products' %}?category=folders"><img src="/media/folder.png" style="height:30px; width:30px;">
                    Folders</a>
            </div>
        
        </div>

    </div>
</div>
