<div class="d-flex justify-content-center text-nowrap">
    <div class="card text-center d-flex  w-75">
        <div class="row card-body d-flex justify-content-between">
            <div class="col-3 filter1 d-flex align-items-center justify-content-center card" style="height: 230px;width:200px;">boo</div>
            <div class="col-5 filter2 d-flex align-items-center justify-content-center card" style="height: 130px;width:400px;">bla</div>
            <div class="col-4 filter3 d-flex align-items-center justify-content-center card" style="height: 230px;width:300px;">ble</div>
        </div>
        <div class="row card-body d-flex justify-content-between">
            <div class="col-3 filter1 d-flex align-items-center justify-content-center card" style="height: 230px;width:200px;">boo</div>
            <div class="col-5 filter2 d-flex align-items-center justify-content-center card" style="height: 230px;width:400px;">bla</div>
            <div class="col-4 filter3 d-flex align-items-center justify-content-center card" style="height: 230px;width:300px;">ble</div>
        </div>
        <div class="row card-body d-flex justify-content-between">
            <div class="col-3 filter1 d-flex align-items-center justify-content-center card" style="height: 230px;width:200px;">boo</div>
            <div class="col-5 filter2 d-flex align-items-center justify-content-center card mt-auto" style="height: 130px;width:400px;">bla</div>
            <div class="col-4 filter3 d-flex align-items-center justify-content-center card" style="height: 230px;width:300px;">ble</div>
        </div>
    </div>
</div>